.addCheckInCard {
  display: inline-block;
  word-wrap: break-word;
  background-color: rgb(255, 231, 223);
  width: 350px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: inset 0 10px 5px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.45);
  border-radius: 100px; 
}

.addCheckInCard:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  border: 5px solid rgba(246, 246, 246, 0.872);
}


.addCheckInImage {
  width: 200px;
  height: 200px;
  box-shadow: inset 0 20px 5px rgba(0,0,0,0.16), 0 6px 10px rgba(0,0,0,0.45);
}

